include _pages

.footer__wrap
    .footer__section
        .footer__top
            .footer-top__col
                ul.menu.footer-menu
                    each page, index in pages
                        li.footer-menu__item
                            a.footer-menu__link(href=`${page[1]}`) #{page[0]}

            .footer-top__col
                include ../common/_socials_footer
    .footer__section
        .footer__bot
            .footer-bot__left
                p.footer_text Я веб-разработчик из Калинингада, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer-bot__right    
                p.footer_text &#169 Александр Никулин | создано с любовью в LoftSchool | 2018
