include _pages

.fullscreenmenu
    #fullscreenmenu.fullscreenmenu-container
        .fullscreenmenu-left
        .fullscreenmenu-right
        .fullscreen-header
            a.fullscreen__btn(href='#') &times
        .fullscreen__wrap
            ul.fullscreen__list
                each page, index in pages
                    li.fullscreen__item
                        a.fullscreen__link(href=`${page[1]}`)
                            .block__title.block__title_fullscreen #{page[0]}
