p Я умею
    ul.technologies
        li
            img(src='./images/sass.svg')
        li
            img(src='./images/pug.svg')
        li
            img(src='./images/gulp.svg')
        li
            img(src='./images/webpack.svg')